.backbtn {
  background-color: blue;
  color: whitesmoke;
  float: left;
}
.nextbtn {
  background-color: green;
  color: whitesmoke;
  float: right;
}
.sbmtbtn{
    float: right;
    color: whitesmoke;
    background-color: green; 
}
.closebtn {
  font-size: 20px;
  float: right;
}