.backbtn{
background-color: blue;
color: whitesmoke;
float: left;
}
.nextbtn{
    background-color: green;
    color: whitesmoke;
    float: right;
}
.closebtn{
    font-size: 20px;
    float: right;
  }